BODY {
    background-color: black;
    color: white;
    overflow: hidden;
}

input:focus {

    background: pink;
}

.container {
    width: 94%;
    margin: 3%;
}

#kirjautuminen {
	width: 100%;
    height: 100px;
    height: auto;
}

#chatti {
   	width: 100%;
    overflow-Y:auto;
}

#keskustelualue {
   	width: 100%;
    height: 100px;
    overflow-Y:auto;
}

#kirjautuneet {
    float:left;
    width: 20%;
    margin: 0;
    overflow-Y:auto;
}

#pelilauta {
    margin-left: 20%;
    border-left: 1px solid gray;
    margin-right: 20%;
    border-right: 1px solid gray;
    text-align: center;

}

#rankinglista {
    float: right;
    width: 20%;
    margin: 0;
    overflow-Y:auto;
}

#palvelintiedot {
    width: 100%;
    height:150px;
    overflow-Y:auto;
}

#haastelaatikko {
    visibility: hidden;
}

#haaste {
    position: absolute;
    overflow: hidden;
    top:  150px;
    left: 0px;
    width: 200px;
    height: 100px;
    background-color: azure;
    text-align: center;
}

table, th, td, tr {
	border: 0px solid green;
	font-family: "Courier New", Courier, monospace;
	padding: 0px;
	margin: auto;
}
td {
	height: 19px;
	width: 19px;
}

#rankings {
    width: 100%;
    margin: auto;
    text-align: left;
}



.wordcomplete {
    z-index: 2;
    position: absolute;
    top: -100px;
    font-size: 22pt;
    font-weight: bold;
    margin: auto auto auto auto;
    display: block;
    opacity: 1.0;
    text-shadow: 0px 0px 5px white;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
#foodEffect {
    font-weight: bold;
    text-shadow: 0px 0px 5px white;

}
#particles{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    overflow: visible;

}